{% extends 'vlog/base.html' %}

{% load static %}

{% block main_content %}

    <article>
      <p>Did I mention that this is my website for showing off my juggling skills?</p>

      <p>Find out more through the following links:</p>

      <dl>
        <dt>
          <a href="{% url 'vlog:thanks' %}">Thanks</a>
        </dt>
        <dd>
          Some websites and organisations that I found helpful when getting this site up and running.
        <dd>
      <dl>
    </article>

{% endblock %}
