{% extends 'vlog/base.html' %}

{% load static %}

{% block main_content %}

    <article>
      <h2>About this website</h2>

      <p>Did I mention that this is my website for showing off my juggling skills?</p>

      <p>Find out more through the following links:</p>

      <ul class="link_list">
        <li class="link_item">
          <a href="{% url 'vlog:history' %}" class="green_border">History</a>
          <p>A short history of how this site came into existence.</p>
        </li>
        <li class="link_item">
          <a href="{% url 'vlog:thanks' %}" class="green_border">Thanks</a>
          <p>Some websites and organisations that I found helpful when getting this site up and running.</p>
        </li>
      <ul>

    </article>

{% endblock %}
