<!doctype html>
<html lang="en">

<!-- Test site V2 -->
{% load static %}

  <head>
    <title>JJ's juggling site</title>
    <meta name="author" content="John J">
    <meta name="description" content="My full stack test page v.0.0">
    <meta name="keywords" content="HTML test page">
    <meta charset="utf-8">
    <link rel="shortcut icon" href="{% static 'vlog/images/ico.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vlog/style/style.css' %}">
  </head>

  <body>

  <header>
    <h1>JJ's juggling videos</h1>

    <nav>
      <ul class="navlinks">
        <li class="navlink {% if selected == 'Home' %}selected{% endif %}">
          <a href="{% url 'vlog:index' %}">Home</a>
        </li> 
        <li class="navlink {% if selected == 'Videos' %}selected{% endif %}">
          <a href="{% url 'vlog:videos' %}">Videos</a>
        </li>
        <li class="navlink {% if selected == 'Learn' %}selected{% endif %}">
          <a href="{% url 'vlog:learn' %}">Learn</a>
        </li>
        <li class="navlink {% if selected == 'About' %}selected{% endif %}">
          <a href="/juggling/about/">About</a>
        </li>
      </ul>
    </nav>
  </header>

  <main>

    {% block main_content %}
    {% endblock %}

  </main>

  <footer>
    Videos and site design &copy; J. Jervis 2021
  </footer>

  </body>

</html>
