{% extends 'vlog/base.html' %}

{% load static %}

{% block main_content %}

    <article>

      <h2>Contact form</h2>
      <p>Use the form below to send me your comments.</p>

      <section class="comments">

        <form method="POST">
          {% csrf_token %}
          <label for="sender_name">Name: </label>
          <input id="sender_name" name="sender_name" class="commenter_name green_border"/>
          <label for="message">Message: </label>
          <textarea id="message" name="message" class="green_border"></textarea>
          <button type="submit" class="green_border btn_submit">Submit</button>
        </form>

        {% if messages %}
          {% for message in messages %}
          <p class="{{ message.tags }} lightgreen green_border">{{ message }}</p>
          {% endfor %}
        {% endif %}

      </section>
    </article>

{% endblock %}
