{% extends 'vlog/base.html' %}

{% load static %}

{% block main_content %}

    <article>

      {% if video %}
        <h2 class="detail_heading">{{ video.title }}</h2>

        <div class="vid-container">
          <video class="video-with-splash" controls preload="metadata" muted>
            {% load static %}
            <source src="{% static video.filename %}" type="video/mp4">
            <p>There was a problem displaying this video. Sorry!</p>
          </video>
        </div>

        <p class="video_pub_date">Published on {{ video.pub_date|date:'Y/m/d \a\t H:i' }}</p>

        <form method="POST" action="{% url 'vlog:add_comment' video.id %}">
          <input name="comment_text" class="comments_box" placeholder="Enter a comment"/>
          {% csrf_token %}
        </form>

        <table class="user_comments">
          {% for comment in video.videocomment_set.all %}
            <tr>
              <td class="comment">{{ comment.text }}</td>
            </tr>
          {% endfor %}
        </table>
      {% else %}
        <p id="id_error_message">No videos are available!</p>
      {% endif %}

    </article>

{% endblock %}
