{% extends 'vlog/base.html' %}

{% load static %}

{% block main_content %}

    <article>

      {% if video %}
        <h2 class="detail_heading">{{ video.title }}</h2>

        <div class="vid-container">
          <video class="video-with-splash" controls preload="metadata" muted>
            {% load static %}
            <source src="{% static video.filename %}" type="video/mp4">
            <p>There was a problem displaying this video. Sorry!</p>
          </video>
        </div>

        <section class="comments">

          <p class="video_pub_date">Published on {{ video.pub_date|date:'Y/m/d \a\t H:i' }}</p>

          {% for comment in video.videocomment_set.all %}
            <p class="comment">{{ comment.text }}</p>
            <hr>
            <p class="comment_author">Posted by {{ comment.author }}<p>
          {% endfor %}

          <form method="POST" action="{% url 'vlog:add_comment' video.id %}">
            {% csrf_token %}
            <input name="commenter_name" class="commenter_name" placeholder="Enter your name (optional)"/>
            <textarea name="comment_text" class="comments_box" placeholder="Enter your comment"></textarea>
            <button type="submit">Post comment</button>
         </form>

        </section>
      {% else %}
        <p id="id_error_message">There was an error displaying this video!</p>
      {% endif %}

    </article>

{% endblock %}
