{% extends 'vlog/base.html' %}

{% load static %}

{% block main_content %}

    <article>

      {% if video %}
        <h2 class="detail_heading">{{ video.title }}</h2>

        <div class="vid-container">
          <video class="video-with-splash" controls preload="metadata" muted>
            {% load static %}
            <source src="{% static video.filename %}" type="video/mp4">
            <p>There was a problem displaying this video. Sorry!</p>
          </video>
        </div>

        <section class="comments">

          <div class="comment green_border lightgreen">
            <p class="video_pub_date">Published on {{ video.pub_date|date:'d/m/Y \a\t H:i' }}</p>
            {% if video.author_comment %}
            <hr>
            <p><strong>JJ says: </strong><span class="author_comment">{{ video.author_comment }}</span></p>
            {% endif %}
          </div>

          {% if video.videocomment_set.all %}
            {% for comment in video.videocomment_set.all %}
              {% if comment.is_approved %}
          <div class="comment green_border">
            <p class="comment_text">{{ comment.text }}</p>
            <hr>
            <p class="comment_details"><span class="comment_author">Posted by {{ comment.author }}</span> <span class="comment_date">on {{ comment.date|date:'d/m/Y \a\t H:i' }}</span></p>
          </div>
              {% endif %}
            {% endfor %}

          {% else %}
          <div class="comment green_border">
            <p class="comment_invite">There are no comments for this video yet. Use the form below to post the first comment!</p>
          </div>
          {% endif %}

          <form method="POST" action="{% url 'vlog:add_comment' video.id %}">
            {% csrf_token %}
            <input name="commenter_name" class="commenter_name green_border" placeholder="Enter your name (optional)"/>
            <textarea name="new_comment" class="comments_box green_border" placeholder="Enter your comment"></textarea>
            <button type="submit" class="green_border">Post comment</button>
         </form>

        </section>
      {% else %}
        <p id="id_error_message">There was an error displaying this video!</p>
      {% endif %}

    </article>

{% endblock %}
