{% extends 'vlog/base.html' %}

{% load static %}

{% block main_content %}

    <article>
      <h2>The history of this site</h2>

      <p>During the first lockdown of the Covid-19 pandemic, I passed some of my extra spare time by recording a series of juggling videos and sending them to my family.</p>

      <p>Time spent in quarantine hotels lead me to record further videos, but also to start learning front-end web development. I combined these activities to launch the first version of this site via GitHub pages in April 2021.</p>

      <p>Since then, I've learned full-stack web development with Django for Python. I used this new knowledge to create a much more ambitious version of the website (complete with a new set of juggling videos). This version of the site was launched in February 2022.</p>

    </article>

{% endblock %}
