{% extends 'vlog/base.html' %}

{% load static %}

{% block main_content %}

    <article>

      <h2>Thanks!</h2>

      <p>The following resources have all been invaluable in getting this site up and running. All of the sites listed here provide at least some of their services for free.</p>

      <ul class=link_list>
      {% for ack in acknowledgements %}
        <li class="link_item acknowledgement">
          <a href="{{ ack.link }}" target="_blank" class="green_border">{{ ack.name }}</a>
          <p>{{ ack.description }}</p>
        </li>
      {% endfor %}
      </ul>

    </article>

{% endblock %}
