{% extends 'vlog/base.html' %}

{% load static %}

{% block main_content %}

    <article>

      <h2>Thanks!</h2>

      <p>The following resources have all been invaluable in getting this site up and running. Note that all of the sites listed here provide their information and services for free.</p>

      <dl>
        <dt class="green_border">
          <a href="https://www.obeythetestinggoat.com/" target="_blank">Obey the Testing Goat!</a>
        </dt>
        <dd>I started out creating my juggling site by following the examples in Harry Percival's excellent book "Test-Driven Development with Python". I'd recommend buying a print copy if you're interested in web development with Python.</dd>

        <dt class="green_border">
          <a href="https://www.djangoproject.com/" target="_blank">Django</a>
        </dt>
        <dd>This site was built using the Django framework.</dd>

        <dt class="green_border">
          <a href="https://www.python.org/" target="_blank">Python</a>
        </dt>
        <dd>The Django framework is based on Python (the best programming language out there, IMO).</dd>

        <dt class="green_border">
          <a href="https://developer.mozilla.org/en-US/" target="_blank">The Mozilla Development Network (MDN)</a>
        </dt>
        <dd>MDN provide courses covering various web development topics, including HTML, CSS & JavaScript.</dd>

        <dt class="green_border">
          <a href="https://www.fontsquirrel.com/" target="_blank">Font Squirrel</a>
        </dt>
        <dd>I used Fontsquirrel's webfont generator to convert web fonts into a format this I could use for this site.</dd>

        <dt class="green_border">
          <a href="https://www.fontmonkey.com/index.php" target="_blank">Font Monkey</a>
        </dt>
        <dd>The heading font at the top of each page is 'Refreshing Beverage' by Font Monkey.</dd>

        <dt class="green_border">
          <a href="https://localfonts.eu/" target="_blank">Local Fonts</a>
        </dt>
        <dd>The page text for this site uses the font 'Linguistics Pro' by Local Fonts.</dd>

       </dl>

    </article>

{% endblock %}
