<!doctype html>
<html lang="en">

<!-- Test site V2 -->

  <head>
    <title>JJ's juggling site</title>
    <meta name="author" content="John J">
    <meta name="description" content="My full stack test page v.0.0">
    <meta name="keywords" content="HTML test page">
    <meta charset="utf-8">
    <link rel="shortcut icon" href="images/ico.png">
    <link rel="stylesheet" type="text/css" href="styles/style.css">
  </head>

  <body>

  <header>
    <h1>JJ's juggling videos</h1>

    <nav>
      <ul>			
        <li><a href="{% url 'vlog:index' %}">Home</a></li> 
        <li class="selected"><a href="{% url 'vlog:videos' %}">Videos</a></li>
        <li><a href="/juggling/learn/">Learn</a></li>
        <li><a href="/juggling/about/">About</a></li>
      </ul>
    </nav>
  </header>

  <main>

    <article>
      {% if videos_list %}

        {% for video in videos_list %}

          <h2 class="video_heading">{{ video.title }}</h2>

          <div class="vid-container">
            <video class="video-with-splash" controls preload="metadata" muted>
              {% load static %}
              <source src="{% static video.filename %}" type="video/mp4">
              <p>There was a problem displaying this video. Sorry!</p>
            </video>
          </div>

          <p><a href="{% url 'vlog:detail' video.id %}" class="info_link">Click here for more information on this video</a></p>

        {% endfor %}

      {% else %}
        <p id="id_error_message">No videos are available!</p>
      {% endif %}

    </article>

  </main>

  <footer>
    Videos and site design &copy; J. Jervis 2021
  </footer>

  </body>

</html>
