<!doctype html>
<html lang="en">

<!-- Test site V2 -->
{% load static %}

  <head>
    <title>John Jervis - programming</title>
    <meta name="author" content="John J">
    <meta name="description" content="My full stack test page v.0.0">
    <meta name="keywords" content="HTML test page">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="shortcut icon" href="{% static 'vlog/images/ico.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vlog/style/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'dev/style/style.css' %}">
  </head>

  <body>

  <header>
    <h1>Computer science skills</h1>

    <nav>
      <ul class="navlinks">
        <li class="navlink {% if selected == 'Programming' %}selected{% endif %}">
          <a href="{% url 'dev:programming' %}" class="green_border">Programming</a>
        </li> 
        <li class="navlink {% if selected == 'Web development' %}selected{% endif %}">
          <a href="#" class="green_border">Web development</a>
        </li>
        <li class="navlink {% if selected == 'Contact' %}selected{% endif %}">
          <a href="#" class="green_border">Contact</a>
        </li>
      </ul>
    </nav>
  </header>

  <main>

    {% block main_content %}
    {% endblock %}

  </main>

  <footer>
    Site design &copy; J. Jervis 2022
  </footer>

  </body>

  <script src="{% static 'vlog/scripts/flyout.js' %}"></script>

</html>
