{% extends 'dev/base.html' %}

{% block main_content %}

    <section>

      <h2>Overview</h2>

      <p>I have have taught myself (and am continuing to learn) Python through a combination of working on personal projects, studying online courses, and reading textbooks.</p>

      <p>I am comfortable using the language's more advanced features, such as listcomps, decorators, exception handling, and lambda functions, and am familiar with a range of coding methodologies and philosophies, including object-oriented programming, test-driven development, functional programming, and agile development.</p>

      <p>I have also expanded my skills by learning <a href="{% url 'dev:web_development' %}">web development</a>: I have built a website, which has been my largest programming project to date, and learnt JavaScript.</p>

    </section>

    <section>

      <h2>Example projects</h2>

      <p>I have put a selection of my code online at my <a href="https://github.com/johnrjervis" target="_blank">GitHub profile</a>. Some example projects (with links to the relevant repositories) are provided below:<p>

      <ul>
        <li>
          <a href="https://github.com/johnrjervis/django-juggling-website" target="_blank">My juggling website</a>:
           I created my website with the Django framework for Python and wrote a full suite of unit tests to ensure correct functionality.
        </li>
        <li>
          <a href="https://github.com/johnrjervis/text_file_processing" target="_blank">A module for processing text files</a>:
          I wrote this module to apply user-specified processes to batches of files. The two main classes work together to create an updated file for every input file, or to write summary data to a single output file or to the terminal.
        </li>
        <li>
          <a href="https://github.com/johnrjervis/noughts_and_crosses" target="_blank">A noughts and crosses game</a>:
          I built the GUI for the game with Python's tkinter module. The module provides options for one-player vs computer and two-player games. 
        </li>
      </ul>

    </section>

    <section>

      <h2>Courses studied</h2>

      <p>Here's a list of the courses that I have completed so far. Follow the links to view the certificates:</p>

      <ul>
        <li>
          <a href="/static/dev/files/LCDAB_1_statement.pdf" target="_blank">Learn to code for data analysis<a>,
          Open University, 2020.
        </li>
      </ul>

    </section>

    <section>

      <h2>Favourite textbooks</h2>

      <p>Here's a list of some of the books that I've found really useful while learning Python:</p>

      <ul>
        <li>Test-Driven Development with Python, Harry J. W. Percival</li>
        <li>Advanced Python for Biologists, Dr Martin Jones</li>
        <li>Python for Data Analysis, Wes McKinney</li>
        <li>Fluent Python, Luciano Ramalho</li>
      </ul>

    </section>

{% endblock %}
